<h1 class="title">Wiki</h1>
<h4>Tags</h4>
<mat-form-field appearance="fill">
  <mat-label>Filter by Tags</mat-label>
  <mat-select>
    <mat-option *ngFor="let tag of (tags | async)" value="tag">{{ tag }}</mat-option>
  </mat-select>
</mat-form-field>
<mat-list>
  <a *ngFor="let wiki of (allWiki | async)?.results" [routerLink]="['/wiki/'+wiki.id]">
    <mat-list-item>
        <mat-icon mat-list-icon>note</mat-icon>
        <div mat-line>{{ wiki.title }}</div>
        <div mat-line>{{ wiki.tags }}</div>
    </mat-list-item>
  </a>
</mat-list>
<mat-paginator
  [length]="(allWiki | async)?.count"
  [pageSize]="10"
  (page)="handlePageEvent($event)"
  aria-label="Select page">
</mat-paginator>
