<div class="title">
  <mat-icon>auto_stories</mat-icon>
   Wiki
</div>
<h4>Filters</h4>
<mat-form-field>
  <mat-label>Search</mat-label>
  <input matInput  [(ngModel)]="search" (ngModelChange)="searchTrigger()">
</mat-form-field>
<mat-form-field>
  <mat-label>Filter by Tags</mat-label>
  <mat-select>
    <mat-option *ngFor="let tag of (tags | async)" value="tag">{{ tag }}</mat-option>
  </mat-select>
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table class="wiki-table" [dataSource]="(allWiki | async)?.results">

    <ng-container matColumnDef="id">
      <th class="order" mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th class="content" mat-header-cell *matHeaderCellDef> Wiki </th>
      <td class="display" mat-cell *matCellDef="let element">
        <a [routerLink]="['/wiki/'+element.id]">
           {{element.title}}
        </a>
        <div class="tags">
          {{element.tags}}
        </div>
        <div class="author">
          Author Name
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th class="action" mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element" class="delete-button">
        <mat-icon mat-list-icon (click)="delete(element.id)">delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row matRipple *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [length]="(allWiki | async)?.count"
    [pageSize]="10"
    (page)="handlePageEvent($event)"
    aria-label="Select page">
  </mat-paginator>
</div>
<div class="add-group">
  <button [routerLink]="['/wiki/create']" mat-fab color="primary" aria-label="Create new wiki">
    <mat-icon>add</mat-icon>
  </button>
</div>
