
<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-list class="menus" role="list">
      <mat-list-item role="listitem">
        <a [routerLink]="['/wiki']">
          <mat-icon>auto_stories</mat-icon>
          Wiki
        </a>
      </mat-list-item>
      <mat-list-item role="listitem">[SOON]Notes</mat-list-item>
      <mat-list-item role="listitem">[SOON]Calendar</mat-list-item>
      <mat-list-item role="listitem">[SOON]Video</mat-list-item>
      <mat-list-item role="listitem">[SOON]Storage</mat-list-item>
    </mat-list>
  </mat-drawer>
  <div class="sidenav-content">
    <mat-toolbar color="primary">
      <button mat-icon-button class="icon" aria-label="Example icon-button with menu icon">
        <mat-icon (click)="drawer.toggle()">menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <span class="app-name">
        <mat-icon>
          diversity_2
        </mat-icon>
        Lineage
      </span>
      <span class="spacer"></span>
      <button mat-icon-button aria-label="Profile">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>
    <div class="outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
