.spacer {
  flex: 1 1 auto;
}

.container {
  min-height: 1000px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
  height: 100%;
}

.sidenav-content mat-toolbar .app-name {
  font-size: 50px;
  font-family: monospace;
}
.sidenav-content mat-toolbar .app-name mat-icon {
  height: 40px;
  width: 40px;
  font-size: 40px;
  margin-right: -22px;
  margin-bottom: -4px;
}

.sidenav {
  padding: 20px;
}

.menus mat-list-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.outlet {
  padding: 30px;
}


