/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;  font-family: 'Patrick Hand', cursive !important;}
body {
  margin: 0;
  font-family: 'Sono', sans-serif;
}

.mat-typography, div, p, a, span {
  font-family: 'Sono', sans-serif;
}
